$padding-16: 1rem;
$body-min-width: 40rem;

.x-columns {
  margin-left: -$padding-16;
  margin-right: -$padding-16;

  > div {
    margin: $padding-16 0;
    min-width: $body-min-width / 2;
    padding: 0 $padding-16;
    font-size: 1.05rem;
  }
}

.flex {
  display: flex;
}

.flex-even {
  flex: 1 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.markdown-inner {
  // Util class to remove extra margin in nested markdown content
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .x-columns {
    > div {
      font-size: 1.125rem;
    }
  }
}
